<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Summer Vibes !</title>
    <link rel="stylesheet" href="../styles/home.css">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Rubik+Wet+Paint&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <script src="./script.js"></script>
</head>

<body>
    <header class="navbar">
        <div class="floated-in-section">
            <ul>
                <a href="#home" class="nav-links">
                    <i class="fi fi-rr-home"></i>
                    <li class="anchor-tag">Home</li>
                </a>
                <a href="#Beverages" class="nav-links">
                    <i class="fi fi-rr-book-alt"></i>
                    <li class="anchor-tag">Beverages</li>
                </a>
                <a href="" class="nav-links">
                    <i class="fi fi-rr-life-ring"></i>
                    <li class="anchor-tag">Services</li>
                </a>
                <a href="" class="nav-links">
                    <i class="fi fi-rr-rocket-lunch"></i>
                    <li class="anchor-tag">Projects</li>
                </a>
                <a href="#Contact" class="nav-links">
                    <i class="fi fi-rr-envelope"></i>
                    <li class="anchor-tag">Contact Us</li>
                </a>
            </ul>
        </div>
    </header>
    <section class="container home" id="home">
        <div class="homecontent">
            <h1 class="head">Lets Start Experience </h1>
            <h1 class="head hhead">Summmer vibes</h1>
        </div>
    </section>
    <section class="drinks container Beverages" id="Drinks">
        <h1 class="headi"><span>D</span>rinks</h1>
        <img src="../img/summer vibes logo.png" alt="">
        <div class="bev-cards mocktails">
            <div class="bev-card" data-aos="fade-right" data-aos-duration="2000">
                <div class="left-content">
                    <img src="../img/Mocktails/passsion-mocktail.jpg" data-aos="zoom-in" data-aos-duration="2000" alt="">
                </div>
                <div class="right-content">
                    <div class="card-title" style="color: red;">Apple Drink</div>
                    <div class="card-subheading">Benefits of vitamins, calcium, potassium and magnesium, the fruit and its juice give out adequate health punch. Full of pectin and fiber, Apple juice helps boost energy. Being the richest source of phenolic compounds, the juice of
                        Apples when consumed regularly helps fight against common infections.</div>
                </div>
            </div>
            <div class="bev-card" data-aos="fade-left" data-aos-duration="2000">
                <div class="left-content">
                    <img src="../img/Mocktails/red-cherry-mocktail.jpg" data-aos="zoom-in" data-aos-duration="2000" alt="">
                </div>
                <div class="right-content">
                    <div class="card-title" style="color: red;">Apple Drink</div>
                    <div class="card-subheading">Benefits of vitamins, calcium, potassium and magnesium, the fruit and its juice give out adequate health punch. Full of pectin and fiber, Apple juice helps boost energy. Being the richest source of phenolic compounds, the juice of
                        Apples when consumed regularly helps fight against common infections.</div>
                </div>
            </div>
            <div class="bev-card" data-aos="fade-right" data-aos-duration="2000">
                <div class="left-content">
                    <img src="../img/Mocktails/red-mocktail.jpg" data-aos="zoom-in" data-aos-duration="2000" alt="">
                </div>
                <div class="right-content">
                    <div class="card-title" style="color: red;">Apple Drink</div>
                    <div class="card-subheading">Benefits of vitamins, calcium, potassium and magnesium, the fruit and its juice give out adequate health punch. Full of pectin and fiber, Apple juice helps boost energy. Being the richest source of phenolic compounds, the juice of
                        Apples when consumed regularly helps fight against common infections.</div>
                </div>
            </div>
        </div>
    </section>
    <section class="container Beverages" id="Beverages">
        <h1 class="headi"><span>B</span>everages</h1>
        <div class="bev-cards">
            <div class="bev-card" data-aos="fade-right" data-aos-duration="2000">
                <div class="left-content">
                    <img src="../img/juices/apple.jpg" data-aos="zoom-in" data-aos-duration="2000" alt="">
                </div>
                <div class="right-content">
                    <div class="card-title" style="color: red;">Apple Drink</div>
                    <div class="card-subheading">Benefits of vitamins, calcium, potassium and magnesium, the fruit and its juice give out adequate health punch. Full of pectin and fiber, Apple juice helps boost energy. Being the richest source of phenolic compounds, the juice of
                        Apples when consumed regularly helps fight against common infections.</div>
                </div>
            </div>
            <div class="bev-card" data-aos="fade-left" data-aos-duration="2000">
                <div class="left-content">
                    <img src="../img/juices/Custard-Apple.jpg" alt="" data-aos="zoom-in" data-aos-duration="2000">
                </div>
                <div class="right-content">
                    <div class="card-title" style="color: wheat;">Custard-Apple Drink</div>
                    <div class="card-subheading">Custard apple juice also known as seetha pazham (in Tamil) is an amazing fruit with enormous health benefits.It has anti cancerous properties, is high in magnesium, good for arthritis and cardio vascular diseases etc.</div>
                </div>
            </div>
            <div class="bev-card" data-aos="fade-right" data-aos-duration="2000">
                <div class="left-content">
                    <img src="../img/juices/grapes.jpg" alt="" data-aos="zoom-in" data-aos-duration="2000">
                </div>
                <div class="right-content">
                    <div class="card-title" style="color: rgb(81, 14, 81);">Grapes Drink</div>
                    <div class="card-subheading">There are numerous benefits of consuming grape juice, especially when made fresh and consumed immediately. Grapes are a rich source of antioxidants, many vitamins and minerals.</div>
                </div>
            </div>
            <div class="bev-card" data-aos="fade-left" data-aos-duration="2000">
                <div class="left-content">
                    <img src="../img/juices/kiwi.jpg" alt="" data-aos="zoom-in" data-aos-duration="2000">
                </div>
                <div class="right-content">
                    <div class="card-title" style="color: rgb(40, 171, 40);">Kiwi Drink</div>
                    <div class="card-subheading"> According to the United States Department of Agriculture (USDA), 100 grams serving kiwifruit has 61 calories, 14.66 grams of carbohydrates, 1.14 grams of protein, and 0.52 grams of fat 3 grams of fiber. With its unique features, kiwi
                        is featured as a topping in pavlovas or fruit bowls, salads, and smoothies.</div>
                </div>
            </div>
            <div class="bev-card" data-aos="fade-right" data-aos-duration="2000">
                <div class="left-content">
                    <img src="../img/juices/litchi.jpg" alt="" data-aos="zoom-in" data-aos-duration="2000">
                </div>
                <div class="right-content">
                    <div class="card-title" style="color: rgb(201, 73, 73);">Litchi Drink</div>
                    <div class="card-subheading">The benefits of litchi fruit are truly incomparable. That's why a glass full of Real Fruit Power's Litchi Flavour will keep you away from many health disorders and terrible illness.</div>
                </div>
            </div>
            <div class="bev-card" data-aos="fade-left" data-aos-duration="2000">
                <div class="left-content">
                    <img src="../img/juices/orange.jpg" alt="" data-aos="zoom-in" data-aos-duration="2000">
                </div>
                <div class="right-content">
                    <div class="card-title" style="color: orange;">Orange Drink</div>
                    <div class="card-subheading">Orange juice is nutritious, but it's important to limit your consumption because of its high sugar content. Orange juice is an excellent source of Vitamin C — one cup contains twice the daily recommended value. Vitamin C supports your
                        immune system and may be effective in fighting against the common cold.</div>
                </div>
            </div>
            <div class="bev-card" data-aos="fade-right" data-aos-duration="2000">
                <div class="left-content">
                    <img src="../img/juices/papaya.jpg" alt="" data-aos="zoom-in" data-aos-duration="2000">
                </div>
                <div class="right-content">
                    <div class="card-title" style="color: rgb(156, 109, 22);">Papaya Drink</div>
                    <div class="card-subheading">Papaya juice prepared with this recipe is a heavenly experience for palate and provides healthy dose of nutrients and minerals like calcium, chlorine, iron, phosphorus, potassium, etc. There are many benefits of this juice and it's
                        particularly useful in curing diseases related to blood, constipation and heart.</div>
                </div>
            </div>
            <div class="bev-card" data-aos="fade-left" data-aos-duration="2000">
                <div class="left-content">
                    <img src="../img/juices/pineapple.jpg" alt="" data-aos="zoom-in" data-aos-duration="2000">
                </div>
                <div class="right-content">
                    <div class="card-title" style="color: greenyellow;">Pineapple Drink</div>
                    <div class="card-subheading">Pineapple juice is rich in antioxidants, which help protect your body from damage and disease. It also contains bromelain, a group of enzymes that may reduce inflammation, improve digestion, and boost immunity.</div>
                </div>
            </div>
        </div>

    </section>
    <section class="container about" id="About">
        <h1 class="headi"><span>about </span>Me</h1>

    </section>
    <section class="container contact" id="Contact">
        <div class="contact_l " data-aos="fade-right" data-aos-duration="2000">
            <h1 class="heading">GET IN TOUCH</h1>
            <p class="sub-heading">If you have any further questions or required further information, please do not hesitate to contact us at anytime.</p>
            <i class="fi fi-sr-phone-call tele-icon"></i>
            <p class="sub-heading">+91 6377535991</p>
        </div>
        <div class="contact_r " data-aos="fade-left" data-aos-duration="2000">
            <div class="fields">
                <div class="caption">Name<span>*</span></div>
                <div class="inputs mauto">
                    <div class="input">
                        <input type="text" name="" id="">
                        <div class="caption-l">
                            First
                        </div>
                    </div>
                    <div class="input">
                        <input type="text" name="" id="">
                        <div class="caption-l">
                            Last
                        </div>
                    </div>
                </div>
            </div>
            <div class="fields">
                <div class="caption">Email<span>*</span></div>
                <div class="input">
                    <input type="text" name="" id="">
                </div>
            </div>
            <div class="fields">
                <div class="caption">Phone Number<span>*</span></div>
                <div class="input">
                    <input type="text" name="" id="">
                </div>
            </div>
            <div class="fields">
                <div class="caption">Contact or message</div>
                <div class="input">
                    <textarea name="" id="" cols="20" rows="5"></textarea>
                </div>
            </div>
            <div class="fields">
                <a class="contact_btn">Submit</a>
            </div>
        </div>
    </section>-

</body>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init();
</script>

</html>